include/NBU_COMMON.XSD

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="DGDate">
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="((((0[1-9]|[1-2][0-9])\.(0(1|[3-9])|1[0-2]))|(30\.(0(1|[3-9])|1[0-2]))|(31\.(01|03|05|07|08|10|12)))\.(19|20)\d{2})|((0[1-9]|[1-2][0-9])\.02\.(19|20)(([0|2|4|6|8][0|4|8])|([1|3|5|7|9][2|6]))|(0[1-9]|[1-2][0-8]|19)\.02\.(19|20)(([0|2|4|6|8][1-3|5-7|9])|([1|3|5|7|9][0-1|3-5|7-9])))"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DGTime">
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
			<xs:pattern value="((([0-1][0-9])|(2[0-3]))[0-5][0-9])"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Загальний тип "Код ЄДРПОУ (ДРФО підприємця: числа, або № паспорта)"-->
	<xs:simpleType name="DGLong">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
			<xs:pattern value="([0-9]{5,10}|[АБВГДЕЄЖЗИ_КЛМНОПРСТУФХЦЧШЩЮЯ]{2}[0-9]{6})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DHEAD">
		<xs:sequence>
			<xs:element name="FNAME" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EDRPOU" type="DGLong" minOccurs="1" maxOccurs="1"/>
			<xs:element name="IDBANK" nillable="true" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MFO" type="xs:integer" nillable="true" minOccurs="1" maxOccurs="1"/>
			<!--Код задачі-->
			<xs:element name="CDTASK" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--Код підзадачі-->
			<xs:element name="CDSUB" nillable="true" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--Код шаблону документа-->
			<xs:element name="CDFORM" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FILL_DATE" type="DGDate" minOccurs="1" maxOccurs="1"/>
			<xs:element name="FILL_TIME" type="DGTime" minOccurs="1" maxOccurs="1"/>
			<xs:element name="EI" nillable="true">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="KU" nillable="true">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:maxInclusive value="99"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
